$fontPrimary : 'Montserrat', sans-serif;

// Colores
$greenBlue: #4CB8B3;
$pink: #F53756;
$yellow: #FEF46D;
$purple: #752F97;
$black: #000;
$white: #FFF;


// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;


// Fuentes
$thin: 300;
$regular: 400;
$bold: 700;
$boldBlack: 900;

// Separaciones
$space: 5rem;